{{> styles}}
<main id="content">
  {{>element-phase-tag}}
  <nav>
    <div class="breadcrumbs">
      <ol>
        <li><a href="/">Your services</a></li>
        <li><a href="/admin">admin</a></li>
      </ol>
    </div>
  </nav>
  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-xlarge">
        Permit Repository - regime {{regime_id}} Licence Type {{type_id}}
      </h1>



        <ul class="list list-bullet">

        <table>
          <tr>
            <td>Licence Type ID</td>
            <td>type_fields_id</td>
            <td>sys_field_id</td>
            <td>alias</td>
            <td>field_definition</td>
            <td>is_req'd</td>
            <td>is_pd</td>
            <td>field_nm</td>
          </tr>
        {{#each data}}
        <tr><td>{{type_id}}</td></tr>
        {{#each this.attributedata}}

          <tr>
            <td>&nbsp;</td>
            <td>{{this.data.type_fields_id}}</td>
            <td>{{this.field_id}}</td>
            <td>{{this.type_field_alias}}</td>
            <td>{{stringify this.field_definition}}</td>
            <td>{{this.is_required}}</td>
            <td>{{this.is_public_domain}}</td>
            <td>{{this.field_nm}}</td>
          </tr>
          {{/each}}
          {{/each}}

          <form method="post" action="/admin/regime/{{regime_id}}/licencetypes/{{type_id}}/field">
            <tr>
              <td>&nbsp;</td>
              <td>Add Field:</td>
              <td>
                <select name="field_id">
        {{#each fields}}
          <option value="{{field_id}}">{{field_id}} {{this.field_nm}}</option>

        {{/each}}
      </select>
              </td>
              <td>
                <input type="text" name="type_field_alias">
              </td>
              <td>&nbsp;</td>
              <td>
                <input type="checkbox" name="is_required" value="1"/>
              </td>
              <td>
                <input type="checkbox" name="is_public_domain" value="1"/>
              </td>
              <td><input type="submit" value="Add"/></td>
            </tr>
          </form>

        </table>
      </ul>

<hr>
      <h2 class="heading-large">
Sample Post to create licence of this type
</h2>

<pre>
  POST /API/1.0/org/{{regime_id}}/licencetype/{{type_id}}/licence
  {
    "licence_ref":"LICENCE REF",
    "licence_start_dt":"2017-01-01T00:00:00.000Z",
    "licence_end_dt":"2018-01-01T00:00:00.000Z",
    "licence_status_id":"1",
    "licence_type_id":"{{type_id}}",
    "licence_regime_id":"{{regime_id}}",
    "attributes":{
      {{#each this.data}}
      {{#each this.attributedata}}
      "{{this.type_field_alias}}":
      "{{this.field_nm}}"

      {{#unless @last}}, {{/unless}}
        {{/each}}
        {{/each}}
    }

}
</PRE>

    </div>
  </div>
</main>
{{> footerjs}}
{{> debug}}
