{{> styles}}
<main id="content">
  {{>element-phase-tag}}
  <nav>
    <div class="breadcrumbs">
      <ol>
        <li><a href="/">Your services</a></li>
        <li><a href="/admin">admin</a></li>
        <li><a href="/admin/users">users</a></li>

      </ol>
    </div>
  </nav>
  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-xlarge">
        Permit Repository Admin
      </h1>
      <h1 class="heading-large">
      View Users
      </h1>
      <h1 class="heading-medium">
      Users
    </h1> The following users are available.


      <br>
      <table>
        <tr>
          <th>User ID</th>
          <th>Username</th>
          <th>Is Admin</th>
        </tr>
        {{#each users}}
        <tr>
          <td><a href="/admin/users/{{user_id}}">{{user_id}}</a></td>
          <td>{{user_name}}</td>
          <td>{{admin}}</td>



        </tr>
        {{/each}}
      </table>
    </div>
  </div>
</main>
{{> footerjs}} {{> debug}}


<script language="javascript">
  $("#licencesearch").bind("keyup change", doFind);

  function doFind() {
    var val = $('#licencesearch').val()
    console.log(val)
    url = '/admin/findlicence/' + val
    $.ajax({
      url: url,
      success: function(res, err) {
        var html = '<table>';
        for (r in res.data) {
          if (res.data[r]) {
            html += `<tr><td><a href="/admin/licence/${res.data[r].licence_id}">${res.data[r].licence_id}</a></td><td>${res.data[r].licence_ref}</td><td>${res.data[r].licence_search_key}<br>`;
          }

        }
        html += '</table>'
        $("#results").html(html)
        console.log(err)
      }
    });

  }
</script>
